/****** GENERAL ***********/
@import url('https://fonts.googleapis.com/css?family=Raleway');            /* import de la famille de font Raleway */

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited{
    color: var(--main-color);
}

p {
    margin-top: 8px;
}

/*** HEADER ET NAV ***/

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
    align-self: stretch;
}

header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header ul li {
    margin: 0 30px;
    padding-top: 15px;
}

header ul li:hover {
    border-top: 3px solid var(--main-color);
}

.logo {
    max-height: 20px;
    margin: 30px 50px;
}

/*** MAIN ***/

main {
    padding: 0 50px;
}

.section-recherche > * {
    margin-bottom: 35px;
}

/*** BARRE DE RECHERCHE ***/



.barre-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barre-de-recherche i {
    font-size: 18px;
    color: black;
    background-color: var(--main-bg-color);
    padding: 16px 18px;
    border-radius: 15px 0 0 15px;
}

.barre-de-recherche input {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.barre-de-recherche input[type="text"] {
    padding: 14px 24px 14px 24px;               /* QUESTIION écart à droite du texte toujours trop important, comment le gérer ? */
    border-style: solid;
    border-right: 0;
    border-width: 1px;
    border-color: var(--main-bg-color);
}

.barre-de-recherche input[type="text"]:focus {
    outline: none;
}

.barre-de-recherche input[type="submit"]{
    color: white;
    background-color: var(--main-color);
    padding: 15px 16px;
    border-style: none;
    border-radius: 0 15px 15px 0;
}

#icone-recherche {
    display: none;
}

/*** FILTRES ***/

.filtres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtres p {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}

.filtres i {
    margin-right: 10px;
    font-size: 20px;
}

.filtres-bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    padding: 14px 19px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-bg-color);
    border-radius: 25px;
}

.filtres-bouton:hover,
.filtres-bouton:active {
    background-color: var(--filter-bg-color);
}

/*** INFOBULLE ***/

.infobulle {
    display: flex;
    align-items: center;
}

.infobulle i {
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-bg-color);
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px 8px;
    font-size: x-small;
}

.infobulle p {
    margin: 0;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/*** CARTES ***/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.card-rating {
    font-size: 18px;
    margin-top: -3px;
    margin-bottom: -3px;
}

.fa-star {
    margin-right: 2px;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements > * {
    margin-bottom: 30px;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(190px, auto);
    gap: 30px
}

.hebergements .card {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.hebergements .card-content {
    padding-left: 10px;
    padding-right: 10px;
}

.hebergements .card-txt > * {
    margin-top: 0px;
    margin-bottom: 8px;
}

.hebergements .card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
}

.hebergements a {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    #bouton-recherche {
        display: none;
    }

    #icone-recherche {
        display: unset;
    }
}