/****** GENERAL ***********/
@import url('https://fonts.googleapis.com/css?family=Raleway');            /* import de la famille de font Raleway */

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-radius-nm: 15px;
    --border-radius-lg: 20px;
    --border-radius-xl: 25px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 50px;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited{
    color: var(--main-color);
}

h4, h3, p, ul {
    margin: 0;
}



.section-title {
    margin: 0;
    font-size: 22px;
}

.fa-solid {
    color: var(--main-color);
}

/*** HEADER ET NAV ***/

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 50px;
}

.head-logo {
    display: flex;
    align-items: flex-end;
}

.logo {
    height: 20px;
}

.head-menu {
    display: flex;
    align-items: stretch;
    gap: 70px;
}

.head-menu a {
   display: flex;
   align-items: center;
}

.head-menu a:hover {
    --nav-border-width: 3px;
    border-top: var(--nav-border-width) solid var(--main-color);
    padding-bottom: var(--nav-border-width);
}

/*** MAIN ***/

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 30px;
}

/*** RECHERCHE ***/

.section-recherche {
    --border-radius-nm: 15px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.recherche-entete {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.barre-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 50px;
}

.recherche-icon {
    display: flex;
    align-items: center;
    padding: 0 17px;
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius-nm) 0 0 var(--border-radius-nm);
}

.recherche-icon i {
    line-height: 1;
}

.i-location-dot {
    color: black;
}

.i-search {
    color: white;
}

.barre-de-recherche input {
    font-size: initial;
    font-weight: 700;
}

.barre-de-recherche input[type="text"] {
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-right: 0;
    border-color: var(--main-bg-color);
}

.barre-de-recherche input[type="text"]:focus {
    outline: none;
}

.barre-de-recherche button {
    color: white;
    font-weight: 700;
    font-size: initial;
    background-color: var(--main-color);
    align-self: stretch;
    border-width: 0;
    border-radius: 0 var(--border-radius-nm) var(--border-radius-nm) 0;
}

#bouton-rechercher {
    padding: 0 15px;
}

#icone-rechercher {
    display: none;
    border-radius: var(--border-radius-nm);
    margin-left: calc(var(--border-radius-nm) * -1);
}

.filtres-bouton:hover,
.barre-de-recherche button:hover,
.card:hover {
    cursor: pointer;
}

/*** FILTRES ***/

.filtres,
.flex-filtres-boutons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filtres .card-title {
    align-self: center;
}

.filtres i {
    padding-right: 10px;
}

.filtres-bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-bg-color);
    border-radius: 25px;
    transition-duration: 0.5s;
    height: 50px;
    font-weight: 700;
}

.filtres-bouton:hover,
.filtres-bouton:active {
    background-color: var(--filter-bg-color);
}

/*** INFOBULLE ***/

.infobulle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infobulle i {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-bg-color);
    border-radius: var(--border-radius-nm);
    padding: 10px 8px;
}

/*** CARTES ***/

.card {
    display: flex;
    background-color: white;
    border-radius: var(--border-radius-lg);
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: initial;
}

.card-subtitle {
    font-size: small;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius-lg);
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(190px, auto);
    gap: 30px;
    padding: 30px 0;
}

.hebergements .card {
    flex-direction: column;
}

.hebergements .card img {
    border-radius: var(--border-radius-nm) var(--border-radius-nm) 0 0;
    width: 100%;
    height: 125px;
}

.hebergements .card-content {
    gap: 10px;
    padding: 10px;
    padding-bottom: 5px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hebergements a {
    font-size: large;
    font-weight: 700;
    color: black;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 135px;
    border-top-left-radius: var(--border-radius-nm);
    border-bottom-left-radius: var(--border-radius-nm);
}

.populaires-cards .card-content {
    width: 67%;
    padding: 5px;
    padding-left: 15px;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Activités ***********/

.activites {
    padding: 30px;
}

.activites .card {
    padding: 0;
    flex-direction: column;
    justify-content: stretch;
}

.activites .card-content {
    justify-content: center;
    padding: 20px;
}

.grid-activites {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    gap: 30px;
    padding-top: 30px;
}

.activites img {
    border-radius: var(--border-radius-nm) var(--border-radius-lg) 0 0;
    height: 380px;
    width: 100%;
}

/****** Footer ***********/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-bg-color);
}

.colonne-footer {
    padding: 20px;
}

.colonne-footer,
footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.colonne-footer a {
    color: black;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres .card-title,
    .hebergements,
    .populaires {
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .populaires-cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .grid-activites img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .main-container {
        padding: unset;
    }

    header {
        flex-direction: column;
        gap: 30px;
        padding-top: 30px;
        align-items: center;
    }

    .head-menu {
        gap: unset;
        width: 100%;
        height: 35px;
        align-items: stretch;
    }

    .head-menu a {
        width: 50%;
        align-items: unset;
        justify-content: center;
    }

    .head-menu a:hover {
        padding: unset;
        border-top: unset;
        border-bottom: var(--nav-border-width) solid var(--main-color);
    }

    main {
        padding: 30px 0 0;
    }

    .section-recherche {
        padding-left: 20px;
        padding-right: 20px;
    }

    .barre-de-recherche input[type="text"] {
        width: 100%;
    }

    #bouton-rechercher {
        display: none;
    }

    #icone-rechercher {
        display: unset;
    }

    .flex-filtres-boutons {
        justify-content: space-between;
    }

    .filtres-bouton {
        display: flex;
        padding: unset;
        padding-left: 20px;
        width: 40%;
    }
}