Booki Dev Web - Guide d'étapes clés - Créez la page d'accueil d'une agence de voyage avec HTML & CSS - DW+Booki+-+Etapes+cles.pdf
Booki Dev Web - Note de synthèse pour intégration du site Booki.pdf
maquette/large-desktop.png
